
nav.navbar.navbar-light
    .container
        .navbar
            a.navbar-brand(href='/') Sports Blog
        #navbar
            ul.nav
                li
                    a(href='/') Home
                li
                    a(href='/articles') Articles
                li
                    a(href='/categories') Categories